/*Geral*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /*1rem = 10px - dessa forma, não existe uma grande necessidade de fazer calculos de conversão*/

  --hue: 20;

  --primary-color: hsl(var(--hue), 100%, 26%);
  --secondary-color: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);

  --brand-beige: hsl(39, 100%, 97%);
  --brand-green-light: hsl(180, 14%, 97%);
  --brand-green-light-2: hsl(calc(var(--hue) + 10), 14%, 97%);


  --brand-green: hsl(calc(var(--hue) - 22), 23%, 89%); /*Vamos pegar no calc a var --hue e subtrair pela diferença de cores que era de 170 - 148 = 22*/

  --color-white: hsl(0, 0%, 100%);
  --brand-gree-hover: hsl(var(--hue), 100%, 14%);

  --nav-height: 7.2rem; /*Queremos que o margin-top some com o height do elemento nav para que ocorra uma harmonização de posições devido ao position fixed atráves do calc(),no qual fará sozinho os respectivos cálculos para que isso ocorra.*/
}

html {
  scroll-behavior: smooth; /*Colocar a rolagem da scroll suavemente*/
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--brand-green-light);
  font-size: 1.6rem;
  text-align: center;
  font-family: "DM Sans";

  overflow: overlay; /*Dizer para a scroll fazer um sobreposição para corrigir o espaçamento da logo na hora de entrar no menu verde*/
}

.wrapper {
  /*a propriedade min serve para você estabelecer uma largura minima entre dois valores,se a largura do celular
  for menor que 50rem,use 100% da tela, se não, matenha o 50rem, ele vai selecionar o menor valor sempre */
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

/*Genericos*/

ul {
  list-style: none;
}

img{
  max-width: 100%;
}

section {
  padding-block: 10rem;
}

section header h1{
  color: var(--secondary-color);

  margin-bottom: 2.4rem;
  font-size: 3.4rem;
  line-height: 130%;
}

section header h2{
  color: var(--secondary-color);

  font-size: 3rem;
  line-height: 3.9rem;
}

section header h4{
  color: var(--primary-color);

  margin-bottom: 1.6rem;

  font-size: 1.4rem;
  line-height: 150%;
  font-weight: 700;
  letter-spacing: 0.08rem; /*Espaçamento entre as letras*/
  text-transform: uppercase;
}

section .content p{
  color: var(--paragraph);
  
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
}

.button {
  background-color: var(--primary-color);

  width: 26.3rem;
  height: 5.2rem;
  margin-bottom: 6rem;
  border: none;
  border-radius: 4rem;

  color: #ffff;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  margin-right: auto;
  margin-left: auto;

  transition: background 0.2s;
}

.button:hover{
  background-color: var(--brand-gree-hover);
}

/*<------------------------------->Ínicio Nav<------------------------------->*/
nav {
  width: 100vw;
  height: var(--nav-height); /*Vamos transformar isso(height: 7.2rem) em uma variável*/

  display: flex;

  position: fixed;
  top: 0;
  /*Podemos centralizar um elemento da seguinte forma no caso do position fixed
  left: 50%;
  transform: translateX(-50%);*/
  z-index: 100; 
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*Na tag Nav com a class ".logo" que contém a tag path[Selecione apenas os elementos que possuem o fill="XX"] e altere sua propriedade*/
nav .logo path[fill*="#00856F"]{
  fill: var(--primary-color);
}

nav .open-menu path{
  stroke: var(--primary-color);
}

nav.scroll{
  background-color: var(--primary-color);
}

nav.scroll .logo path {
  fill: var(--color-white);
}

nav.scroll .open-menu path{
  stroke: var(--color-white);
}

nav button{
  background: none;

  border: none;
  cursor: pointer;
}

nav .menu,
nav .close-menu{
  position: fixed;
}


/*<------------------------------->Nav Vertical<------------------------------->*/
body.menu-expanded {
  overflow: hidden; /*Tirando a scroll no menu expandido*/
}

body.menu-expanded > :not(nav) {
  /*Vamos pegar todos os filhos do primeiro nível exceto a tag nav e vamos aplicar o display none para sumir tudo*/
  /* display: none; */
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0; /*Vai deixar o menu sem visibilidade,mas os elementos permance clicavel */
  visibility: hidden; /*Vai esconder por completo até mesmo as interações de clik*/
}

/*Quanado o body tive o '.menu-expanded' vamos aplicar as seguintes propriedade para mostrar o conteúdo*/
body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu{
  transform: translateY(100%); /*Vamos jogar o menu primeiramente no eixo y para fora da tela e depois vamos chamar ele para seu estado original*/
}

body.menu-expanded .menu {
  background-color: var(--primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  top: 0;
  left: 0;

  transition: transform 350ms; /*fazer a aparição do menu de forma suave e com um tempo*/
  transform: translateY(0%);  /*Chamando o menu para seu estado original */
}

.menu ul:nth-child(1) {
  margin-top: 6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: var(--color-white);

  text-decoration: none;
}

.menu-button-whatsapp{
  background-color: var(--color-white);
  color: var(--primary-color);

  margin-top: 4.8rem;
  margin-bottom: 8rem;
  padding: 1.6rem 3.2rem;

  display: inline-block;

  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-decoration: none;
  text-transform: uppercase;

  border-radius: 4rem;
}

.menu-button-whatsapp:hover{
  background-color: var(--primary-color);
  color: var(--color-white);

  filter: brightness(1.2); /*Aumenta o brilho do elemento*/
}

.menu-social-links,footer i{
  color: var(--color-white);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: var(--color-white);
}



    /*<------------------------------->Fim Nav Vertical<------------------------------->*/
/*<----------------------------------->Fim Nav<---------------------------------->*/


/*<------------------------------->Ínicio -Header - Home<------------------------------->*/
#home {
  padding-top: calc(
    4.1rem + var(--nav-height)
  ); /*Queremos que o margin-top some com o height do elemento nav para que ocorra uma harmonização de posições devido ao position fixed atráves do calc(),no qual fará sozinho os respectivos cálculos para que isso ocorra.*/
}

#home::before {
  background-color: var(--brand-green);

  content: "";
  width: 100%; /*se você usar vw e colocar 100, ele vai sobra para o lado e criar uma scroll e para resolver isso, você usar porcentagem*/
  height: calc(
    108rem + var(--nav-height)
  ); /*Precisamos fazer um cálculo da altura novamente devido alterarmos as dimensões do nav position fixed em relação ao margin-top, o conteúdo foi empurrado para baixo alterando a posição do 108rem - ela vai voltar a ficar no meio da div */

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home p {
  color: var(--paragraph);

  margin-bottom: 3.2rem;
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
}

#home img {
  width: 26.4rem;
  height: 34rem;

  display: block; /*A imagem da mulher a div estão coladas com isso*/
  margin-inline: auto;
  object-position: center;
}

#home div .stats {
  background-color: var(--brand-beige);

  width: 100%;
  padding-block: 4rem; /*Vai alterar o primeiro elemento superior e o ultimo elemento inferior*/
  margin-inline: auto;

  display: flex;
  flex-direction: column; /*Orientar a centralização em forma de coluna*/
  align-items: center;
  justify-content: center;
  gap: 6rem;

  border: 0.1rem solid rgb(250, 242, 242);
  border-radius: 1.6rem;

  padding-top: 4rem;
}

#home div.stat h3 {
  color: var(--secondary-color);

  font-size: 4.8rem;
  line-height: 130%;
  margin-bottom: 0.4rem;
}

#home div.stat p {
  color: var(--primary-color);

  margin: 0;

  line-height: 150%;
}

/*<------------------------------->FIM HEADER - Home <------------------------------->*/

/*<------------------------------->Section - Services <------------------------------->*/

#services header h2{
  margin-bottom: 6rem;
}

#services .cards{
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  background: var(--color-white);

  padding: 2.4rem;

  border: 2px solid var(--brand-green);
  border-radius: 1.5rem;

  text-align: left;
}

#services .card h3 {
  margin-block: 1.6rem; /*Vai pegar em cima e embaixo*/
}

#services .card path{
  stroke: var(--primary-color);
}

#services .card circle{
  fill: var(--brand-green);
}


/*<------------------------------->Section - Services <------------------------------->*/

/*<------------------------------->Section - About <------------------------------->*/

#about{
  background-color: var(--brand-beige);

  text-align: center;
}

#about h4{
  text-align: left;

}

#about header h2{
  margin-bottom: 2.4rem;

  text-align: left;
}

#about .content p{
  margin-top: 2.4rem;
  margin-bottom: 6rem;

  text-align: left;

}


#about img{
  width: 32.7rem;
  height: 28.2rem;
}


/*<------------------------------->FIM - Section - About <------------------------------->*/

/*<------------------------------->Section - Contact <------------------------------->*/

#contact{
  text-align: left;
}

#contact header{
  margin-bottom: 3.2rem;
}

#contact ul{
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  margin-bottom: 3.2rem;
}

#contact ul li{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#contact ul li:nth-of-type(1){
  display: flex;
  align-items: center;
  gap: 1.1rem;
}

#contact ul i{
  color: var(--primary-color);
}

/*<------------------------------->Section - Contact <------------------------------->*/

/*<------------------------------->Footer<------------------------------->*/

footer{
  background-color: var(--primary-color);
  color: var(--color-white);
 
  text-align: center;
  padding-block: 6rem;
}

footer .logo{
  display: inline-block;
  margin-bottom: 2.4rem;
}

footer .logo svg{
  width: 23.6rem;
  height: 3.1rem;
}

footer .logo path{
  fill:  var(--color-white);
}

footer p{
  color: var(--brand-beige);
  line-height: 0.5;

  margin-bottom: 3.2rem;
}

/*<------------------------------->Footer<------------------------------->*/

/*<------------------------------->Back to top<------------------------------->*/

#backToTopButton{
  position: fixed;
  bottom: 1rem;
  right: 3rem;

  opacity: 0; /*O botão vai iníciar escondido*/
  visibility: hidden;

  transform: translateY(100%);
  transition: 200ms;
}

#backToTopButton.show{
  opacity: 1;
  visibility: visible;

  transform: translateY(0%);
}

#backToTopButton i{
  color: var(--primary-color);

  font-size: 4rem;
}

/*<------------------------------->Back to top<------------------------------->*/


/*<------------------------------->Responsivo - Desktop<------------------------------->*/

/*O media vai aplicar o conjunto de propriedades quando a largura mínima for  102.4rem = 1024px no dispositivo*/
@media (min-width:1024px){
  /*<------------------------------->Geral <------------------------------->*/
  .wrapper{
    width:min(112rem, 100%);
    display: grid;
  }
  /*<------------------------------->Navigation <------------------------------->*/

  /*Reset*/

  /*Estamos especificando que dentro da tag nav com id navigation selecione o wrapper dentro dele,pegue todos os elementose*/
  nav#navigation .wrapper * {

    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    filter: initial;
  }

  nav#navigation .close-menu,
  nav#navigation .open-menu,
  nav#navigation .menu-social-links{
    display: none;
  }

  nav#navigation .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }

  nav#navigation .menu .menu-button-whatsapp{
    color: var(--primary-color);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem  2.4rem;
    gap: 1.6rem;
    border: 1px solid var(--primary-color);
    border-radius: 4rem;

    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;

  }

  nav#navigation .menu-button-whatsapp:hover{
    background-color: var(--primary-color);
    color: var(--color-white);
    border: none;
  }


  nav#navigation .menu ul:nth-of-type(1){
    display: flex;
    gap: 3.2rem;
  }

  nav#navigation .menu ul li a{
   color: var(--primary-color); 

   opacity: 0.7;
  }
  

  nav#navigation .menu li a {
     transition: opacity 2s;
  }
  
  nav#navigation .menu li a.active,
  nav#navigation .menu li a:hover{
      opacity: 1;
      font-weight: 700;
  }

  nav#navigation .menu li a::after{
    background-color: var(--primary-color);

     content: '';
     height: 2px;
     width: 0%;

     display: block;
     position: relative;
     bottom: -1.9rem;
     left: -0.5rem;

     transition: width 0.2s;
  }

  /*Quando a estiver no elemento hover, você vai pegar o elemento after*/
  nav#navigation .menu li a.active::after,
  nav#navigation .menu li a:hover::after{
    width: 100%;
    padding-inline: 0.8rem;
  }

  nav#navigation.scroll .menu ul li a {
      color: var(--brand-green-light-2);
  
      opacity: 0.7;
  }

  nav#navigation.scroll .menu-button-whatsapp.active,
  nav#navigation.scroll .menu-button-whatsapp:hover {
    background-color: var(--primary-color);
    filter: brightness(1.3);
    border: none;
}

 
  nav#navigation.scroll .menu .menu-button-whatsapp{
      border-color: var(--color-white);
      color: var(--color-white);
  }

  nav#navigation.scroll .menu li a.active,
  nav#navigation.scroll .menu li a:hover{
    opacity: 1;
  }

  nav#navigation.scroll .menu li a::after{
     background-color: var(--color-white);
  }

  /*<------------------------------->Home <------------------------------->*/

  #home .wrapper{
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas: 'A B' 'C C ';
  }

  #home .col-a{
    grid-area: A;
    text-align: left;
  }

  #home .col-b{
    grid-area: B;
  } 

  #home div .stats{
    grid-area: C;
    flex-direction: row;
    padding: 6rem;
  }
  
  #home .button{
    margin: 0;
  }
  
  #home img{
    width: 42rem;
    height: 54.7rem;
  }
}